services: 
# will add volumes to persist data once successfully transferring data
  backend: 
    build: ./backend
    ports: 
      - "4000:4000"

  frontend: 
    build: ./frontend
    ports: 
      - "5173:5173"