* {
  font-family: "Nunito", sans-serif; 
  margin-top: 5px; 
}

button {
  margin-bottom: 10px; 
}

.task-list-ul {
  text-align: left
}

.crossed {
  text-decoration: line-through; 
}

.uncrossed {
  text-decoration: none; 
}